.single-top-bg {
  //background-image: url('./../images/single/single-top-bg-sm.jpg');
  background-size: cover;
  height: 260px;
  position: relative;
  width: 100%;

  .small-12 {
    bottom: 0;
    position: absolute;
    z-index: 2;
  }

  .title {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;

    h1, h3 {
      color: $colorWhite;
    }

    h1 {
      font-size: 4.167em;
      line-height: 0.9;
      margin-bottom: 0.35em;
      padding: 0 0.2em;
    }

    h3 {
      margin-bottom: 2em;
      margin-top: 0;
    }
  }
  .single-trailer {
    margin-bottom: 3em;
  }

  .top-bg-gradient {
    position: absolute;
    background: -moz-linear-gradient(left,transparent 0,rgba(0,0,0,.4) 40%,#000 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,transparent),color-stop(40%,rgba(0,0,0,.4)) 6 color-stop(100%,#000));
    background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,.4) 40%,#000 100%);
    background: -o-linear-gradient(top,transparent 0,rgba(0,0,0,.4) 40%,#000 100%);
    background: -ms-linear-gradient(top,transparent 0,rgba(0,0,0,.4) 40%,#000 100%);
    background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.4) 40%,#000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    height: 8em;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
    pointer-events: none;
    z-index: 1;
  }
}

@media all and (min-width: 641px) {
  .single-top-bg {
    height: 449px;

    .title {
      h1 {
        font-size: 5em;
        margin-bottom: 0.25em;
      }
    }
  }
}
