.trailer-info {
  background-color: rgba(0,0,0,0.66);
  bottom: 0;
  padding: 1em;
  padding-bottom: 3.5em;
  position: absolute;
  text-align: center;
  width: 100vw;

  h1 {
    font-size: 3.6rem;
    line-height: 1;
    margin-bottom: 0.5em;
    text-align: left;
  }

  p {
    color: $colorWhite;
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
  }

  // trailer colors
  @media all and (max-width: 640px) {
    @for $i from 1 through length($colors) {
      &.color-#{$i} {
        h1 {
          color: nth($colors, $i);
        }
        .button {
          color: nth($colors, $i);
          border-color: nth($colors, $i);

          &:hover {
            background-color: nth($colors, $i);
            color: $colorBlack;
          }
        }
      }
    }
  }
}
